<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 text-center">
      <h1>Pages#home</h1>
        <ul>
          <li><%= link_to 'ALL job', job_alerts_path, class: "btn btn-primary btn-xl" %></li>
          <li><%= link_to 'new job', new_job_alert_path, class: "btn btn-primary btn-xl" %></li>
        </ul>
      </div>
  </div>
</div>
